.grid-container {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 10% 30% 50% 10%;
    gap: 5px 5px;
    grid-template-areas:
      "title main-product"
      "sub-products ."
      "total-price ."
      "additionals more";
  }
  
  .title { grid-area: title; }
  
  .main-product { grid-area: main-product; }
  
  .sub-products { grid-area: sub-products; }
  
  .total-price { grid-area: total-price; }
  
  .additionals { grid-area: additionals; }
  
  .more { grid-area: more; }
  
  .big-text{
      font-size: 3rem;
      font-weight: bold;
  }